<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
	backupGlobals="true"
	bootstrap="./Tests/bootstrap.php"
	convertErrorsToExceptions="true"
	convertWarningsToExceptions="true"
	convertNoticesToExceptions="true"
	convertDeprecationsToExceptions="true"
	beStrictAboutTestsThatDoNotTestAnything="false"
	colors="true"
	forceCoversAnnotation="true">

	<testsuites>
		<testsuite name="FinPress">
			<directory suffix="UnitTest.php">./FinPress/Tests/</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true" processUncoveredFilesFromWhitelist="false">
			<file>./FinPress/Sniff.php</file>
			<file>./FinPress/AbstractArrayAssignmentRestrictionsSniff.php</file>
			<file>./FinPress/AbstractClassRestrictionsSniff.php</file>
			<file>./FinPress/AbstractFunctionParameterSniff.php</file>
			<file>./FinPress/AbstractFunctionRestrictionsSniff.php</file>
			<directory>./FinPress/Sniffs/</directory>
			<directory>./FinPress/Helpers/</directory>
		</whitelist>
	</filter>

	<logging>
		<log type="coverage-text" target="php://stdout" showOnlySummary="true"/>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
	</logging>

</phpunit>
